.app-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
  color: var(--ion-color-primary);
}

.app-subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--ion-color-medium);
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.error-message {
  text-align: center;
  margin: 1rem 0;
}
